<div class="footer">
    <div class="container">
        <div class="row bor py-4">
            <div class="col-md-3 col-sm-7">
                <img src="../../assets/images/framefooter.png" class="pb-3" alt="framefooter">
                <div class="content d-flex align-items-center py-1">
                    <img src="../../assets/images/location.png"  alt="loction">
                     <div class="content-caption px-2 pt-2">
                        <p>25566 Hc 1, Glenallen, <br> Alaska, 99588, USA</p>
                     </div>
                </div>

                <div class="content d-flex align-items-center py-1">
                    <img src="../../assets/images/call.png"  alt="loction">
                     <div class="content-caption px-2 pt-2">
                        <p>+603 4784 273 12</p>
                     </div>
                </div>

                <div class="content d-flex align-items-center py-1">
                    <img src="../../assets/images/sms.png"  alt="loction">
                     <div class="content-caption px-2 pt-2">
                        <p  >rentcars gmail.com</p>
                     </div>
                </div>


            </div>

            <div class="col-md-2 col-sm-4 our-product">
                <h6 class="pb-3">Our Product</h6>
                <p>Career</p>
                <p>Car</p>
                <p>Packages</p>
                <p>Features</p>
                <p>Priceline</p>
            </div>
            <div class="col-md-2 col-sm-4  our-product">
                <h6 class="pb-3">Resources</h6>
                <p>Download</p>
                <p>Help Centre</p>
                <p>Guides</p>
                <p>Partner Network</p>
                <p>Cruises</p>
                <p>Developer</p>
            </div>
            <div class="col-md-2 col-sm-4  our-product">
                <h6 class="pb-3">About Rentcars</h6>
                <p>Why choose us</p>
                <p>Our Story</p>
                <p>Investor Relations</p>
                <p>Press Center</p>
                <p>Advertise</p>
            </div>

            <div class="col-md-2 col-sm-4  our-product">
                <h6 class="pb-3">Follow Us</h6>
                <p >
                    <i class="fa-brands fa-facebook-f mx-2"></i>
                    <i class="fa-brands fa-instagram mx-2"></i>
                    <i class="fa-brands fa-youtube mx-2"></i>
                </p>
                
            </div>
        </div>
        <p class="pt-3 text-white">Copyright 2023 ・ Rentcars, All Rights Reserved</p>
    </div>
</div>
