<div class="container ">
    <div class="work ">
        <div class="heading-work">
            <span>HOW IT WORK</span>
            <h3>Rent with following 3 working steps</h3>
        </div>

        <div class="row overflow-hidden work-det  justify-content-around  text-center">
            <div class="col-lg-3 col-md-4">
                <img src="assets/images/location-tick.png" alt="icon">
                <h6>Choose location</h6>
                <p>Choose your and find your best car</p>
            </div>
            <div class="col-lg-3 col-md-4">
                <img src="assets/images/calendar.png" alt="icon">
                <h6>Pick-up date</h6>
                <p>Select your pick up date and
                    time to book your car</p>
            </div>
            <div class="col-lg-3 col-md-4">
                <img src="assets/images/car.png" alt="icon">
                <h6>Book your car</h6>
                <p>Book your car and we will deliver
                    it directly to you</p>
            </div>
        </div>

        <div class="row text-center py-5 g-5 align-items-center overflow-hidden images">
            <div class="col-md-3">
                <img src="assets/images/jaguar.png" class="w-75  " alt="jaguar">
            </div>
            <div class="col-md-3">
                <img src="assets/images/nissan.png" class="w-50" alt="jaguar">
            </div>
            <div class="col-md-3">
                <img src="assets/images/volvo.png" class="w-75" alt="volvo">
            </div>
           
            <div class="col-md-3">
                <img src="assets/images/audi.png" class="w-50" alt="audi">
            </div>
        </div>

    </div>
</div>