.work{
    padding: 50px 0;
    overflow: hidden;
}
.heading-work{
    text-align: center;
}
.heading-work span{
    font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
text-align: left;
color:  #1572D3;
background: #1572D31A;
padding: 10px 25px;
border-radius: 8px;
}
.heading-work h3{
    font-family: Poppins;
font-size: 38px;
font-weight: 500;
 
text-align: center;
color: #333333;
padding: 25px 0 50px 0;
}
.work-det{
    padding:0  120px;
}
.work-det img{
    background-color:#1572D31A ;
    padding: 40px;
    border-radius: 8px;
}
.work-det h6{
    font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
 padding-top: 10px;

}
.work-det p{
    font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
text-align: center;
color: #6D6D6D;
}