 <div class="choose-car overflow-hidden">
    <div class="row h-100 align-items-center">
        <div class="col-md-6">
            <img src="assets/images/Audi 1 (1).png" class="w-100" alt="Audi">
        </div>
        <div class="col-md-6 gx-5 caption">
            <span>WHY CHOOSE US</span>
            <h5>We offer the best experience with our rental deals</h5>

            <div class="content mb-3 d-flex align-items-center">
                <img src="assets/images/wallet.png"  alt="icon">
                <div class="content-caption ps-3">
                    <h6>Best price guaranteed</h6>
                    <p>Find a lower price? We’ll refund you 100%
                        of the difference.</p>
                </div>
            </div>
            <div class="content mb-3 d-flex align-items-center">
                <img src="assets/images/user-tick.png"  alt="icon">
                <div class="content-caption ps-3">
                    <h6>Experience driver</h6>
                    <p>Don’t have driver? Don’t worry, we have many
                        experienced driver for you.</p>
                </div>
            </div>
            <div class="content mb-3 d-flex align-items-center">
                <img src="assets/images/24-support.png"  alt="icon">
                <div class="content-caption ps-3">
                    <h6>24 hour car delivery</h6>
                    <p>Book your car anytime and we will deliver it
                        directly to you.</p>
                </div>
            </div>
            <div class="content  d-flex align-items-center mb-4">
                <img src="assets/images/messages-2.png"  alt="icon">
                <div class="content-caption ps-3">
                    <h6>24/7 technical support</h6>
                    <p>Have a question? Contact Rentcars support
                        any time when you have problem.</p>
                </div>
            </div>
        </div>
    </div>
 </div>



 <div class="review-bg overflow-hidden">
    <div class="container">
        <div class="review">
            <div class="review-heading">
                <span>TESTIMONIALS</span>
                <h3>What peole say about us?</h3>
            </div>
    
            <div class="row justify-content-between align-items-center g-5">
                <div class="col-lg-5">
                    <div class="card1 d-flex align-items-center bg-white">
                        <img src="assets/images/Rectangle 8 (1).png" class="w-50 h-100" alt="Rectangle">
                        <div class="card-content ">
                            <h6> <span>5.5</span>  stars</h6>
                            <div class="icon py-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p>“I feel very secure when using caretall's services.
                                 Your customer care team is very enthusiastic and the 
                                 driver is always on time.”</p>
                                 <p> <span>Charlie Johnson</span><br>
    
                                    Last updated 3 mins ago</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-5">
                    <div class="card1 d-flex align-items-center bg-white ">
                        <img src="assets/images/Rectangle 8.png" class="w-50 h-100" alt="Rectangle">
                        <div class="card-content ">
                            <h6> <span>5.5</span>  stars</h6>
                            <div class="icon py-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p>“I feel very secure when using caretall's services.
                                 Your customer care team is very enthusiastic and the 
                                 driver is always on time.”</p>
                                 <p> <span>Charlie Johnson</span><br>
    
                                    Last updated 3 mins ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
 </div>