 <div class="landing ">
    <app-nav-bar></app-nav-bar>
    <div class="landing-content  ">
        <div class="row w-100 ">
 
            <div class="col-md-6 mb-4">
               
                <h1 class="d-block">
                    Find, book and  <br>
                     rent a car  <span class="vector">  Easily 
                        <img src="assets/images/Vector 1.png" class="w-100" alt="">
                     </span>
                </h1>
                <p>Get a car wherever and whenever you <br>
                     need it with your IOS and Android device.</p>
                     <div class="content-img d-flex align-items-center ">
                        <img src="assets/images/image 2.png"  alt="">
                        <img src="assets/images/image 3.png" class="mx-3" alt="">
                     </div>
    </div>

    <div class="col-md-6  px-0 g-0">
        <div class="image ">
            <img src="assets/images/car 2 1.png" class="w-100" alt="">
        </div>
    </div>
 
        
        </div>
    </div>
 </div>


<app-get-data></app-get-data>
<app-work></app-work>
<app-home-car-details></app-home-car-details>
<app-contact></app-contact>
<app-footer></app-footer>
