<div class="choose-car details overflow-hidden">
    <div class="row h-100 align-items-center">
        <div class="col-md-6">
            <img src="assets/images/Audi 1 (1).png" class="w-100" alt="Audi">
        </div>
        <div   class="col-md-6 gx-5 caption">
            <span>WHY CHOOSE US</span>
            <h5>We offer the best experience with our rental deals</h5>

            <div class="icon mb-3 d-flex align-items-center">
                <img src="../../assets/images/d8wxke_2_.png"   alt="icon">
               
                 <p class="my-0 mx-2">Air Conditioning</p>
            </div>
           
            <div class="icon mb-3 d-flex align-items-center">
                <img src="../../assets/images/user.png"   alt="icon">
               
                 <p class="my-0 mx-2">2 Passagers</p>
            </div>

            <div class="icon mb-3 d-flex align-items-center">
                <img src="../../assets/images/o2DSev.tif_1_.png"   alt="icon">
               
                 <p class="my-0 mx-2">{{carsDetails?.transmission}}</p>
            </div>

            <div class="icon mb-3 d-flex align-items-center">
                <i class="fa-solid fa-calendar-days text-black"></i>
               
                 <p class="my-0 mx-2">{{carsDetails?.year}}</p>
            </div>
          
            
        </div>
    </div>
 </div>
 


 